# Compiled Binary Targets
bin/
build/
*.out
*.exe
*.o
*.obj
chronos-cli

# Editor Configuration Tracks
.vscode/
.idea/
*.swp
*~
.DS_Store

# Native Development & Test Outputs
*.log
tests/*.chronos_temp
tests/*.chronos
